.login-container {
    height: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    .login-form-container {
        display: grid;
        gap: 0.5rem;
    }

    .link {
        color: #66B2FF;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            color: #003366;
        }
    }

    button:disabled {
        opacity: 0.4;
    }
}