.header-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
    background-color: #003366;
    justify-content: center;

    button {
        background-color: transparent;
        border: none;
        color: white;
        padding: 0.5rem;

        &.active {
            background-color: #003366;
            filter: brightness(150%);
        }
    }
}