<div class="add-new-rental-car-container">
    <div class="add-new-rental-car-form-container">
        <h1>Add new car</h1>
        <div class="add-new-car-box">
            <form [formGroup]="this.newExtraServiceForm">
                <div class="form-item">
                    <label>Name:</label>
                    <input formControlName="name" type="text"/>
                    <div *ngIf="this.newExtraServiceForm.get('name')?.invalid && this.newExtraServiceForm.get('name')?.touched && this.newExtraServiceForm.get('name')?.errors!['minlength']" class="error-box">
                        Name's min length is 2.
                    </div>
                    <div *ngIf="this.newExtraServiceForm.get('name')?.invalid && this.newExtraServiceForm.get('name')?.touched && this.newExtraServiceForm.get('description')?.errors!['required']" class="error-box">
                        Name is required.
                    </div>
                </div>
                <div class="form-item">
                    <label>Description:</label>
                    <input formControlName="description" type="text"/>
                    <div *ngIf="this.newExtraServiceForm.get('description')?.invalid && this.newExtraServiceForm.get('description')?.touched && !this.newExtraServiceForm.get('description')?.errors!['minLength']" class="error-box">
                        Description's min length is 2.
                    </div>
                    <div *ngIf="this.newExtraServiceForm.get('description')?.invalid && this.newExtraServiceForm.get('description')?.touched && this.newExtraServiceForm.get('description')?.errors!['required']" class="error-box">
                        Description is required.
                    </div>
                </div>
                <div class="form-item">
                    <label>Price(/day):</label>
                    <input formControlName="pricePerDay" type="number"/>
                    <div *ngIf="this.newExtraServiceForm.get('pricePerDay')?.invalid && this.newExtraServiceForm.get('pricePerDay')?.touched && this.newExtraServiceForm.get('pricePerDay')?.errors!['required']" class="error-box">
                        Price(/day) is required.
                    </div>
                </div>
                <button [disabled]="this.newExtraServiceForm.invalid" (click)="onClickSave()">Save</button>
            </form>
        </div>
    </div>
</div>